.vl {
  border-left: 2px solid black;
  height: 700px;
}
h1 {
  font-size: 24px;
  color: #F34F4F;
}
h3 {
  font-size: 20px;
  color: #F34F4F;
}

.top-div-border {
  border-bottom-style: solid;
}


.right-div-border {
  border-right-style: solid;
}
